<!doctype html>
<html lang="en" ng-app="main">
  <head>
	  <meta charset="UTF-8">
	  <link rel="stylesheet" href="main.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
	  <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
	  <script src="https://cdn.jsdelivr.net/npm/@observablehq/plot@0.6"></script>
	  <script src="main.js"></script>
	  <title>Padres Interview Project</title>
	  <link rel="icon" type="image/x-icon" href="/favicon256.png">
  </head>

  <body>
	<div id="header-container">
	  <div> <img class="logo" src="favicon256.png"> </div>
	  <div> <h1>Rolling Hitter wOBA</h1> </div>
	</div> 
	<div id="app-container" ng-controller="playerList as ctrl">
		<div id="main-container">
			<aside id="sidebar">
				<label for="team-dropdown">Select a team:</label>
				<select id="team-dropdown" ng-model="selectedTeam" ng-options="full for (full, abbrev) in teams" ng-change="ctrl.getPlayers()">
				</select>

				<br></br>

				<label for="player-selector">Select a player:</label>
				<br>
				<div id="player-selector">
					<div ng-repeat="player in players" class="radiobullet">
						<input type="radio" id="option-{{$index}}" name="playerGroup" ng-value="player.id" ng-model="selectedPlayer" ng-click="ctrl.setCurrPlayer(player)">
						<label for=option-{{$index}}">{{player.name_last}}, {{player.name_first}}</label>
					</div>
				</div>

				<br>

				<div>
					<label for="start-date-selector">Start date:</label>
					<input type="date" id="start-date-selector" name="start-date-input" ng-model="selectedStartDate" ng-change="ctrl.setStartDate(selectedStartDate)">
				</div>
				<div>
					<!-- Align date selectors -->
					<label for="end-date-selector">End date:</label> <span style="display:inline-block; width: 1px;"></span> 
					<input type="date" id="end-date-selector" name="end-date-input" ng-model="selectedEndDate" ng-change="ctrl.setEndDate(selectedEndDate)">
				</div>

				<br></br>

				<label for="days-rolling-selector">Number of PA to roll:</label>
				<input type="number" id="PAs" ng-model="rollingPAs" required ng-init="rollingPAs=15" ng-blur="ctrl.validateRollingPAs(rollingPAs)" min="1" step="1"/>
				<script>
					var numInput = document.getElementById("PAs");

					numInput.addEventListener("input", function () {
						var num = this.value.match(/^\d+$/);
						if (num === null) {
							this.value = "";
						}
					});
				</script>

				<br></br>

				<button type="button" name="submit" ng-click="ctrl.getPlaysPlayer()">Build graph</button>
			</aside> <!-- sidebar -->

			<section id="graph-display">
				<div id="graph"></div>	
			</section>

		</div> <!-- main-container --> 
	</div> <!-- app-container -->
  </body>

</html>
