<!doctype html>
<html lang="en" ng-app="main">
  <head>
	  <meta charset="UTF-8">
	  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
	  <script src="main.js"></script>
	  <title>Padres Interview Project</title>
	  <link rel="icon" type="image/x-icon" href="/favicon256.png">
  </head>

  <body>
	<div ng-controller="playerList as ctrl">
		<h1>DEBUG: {{ players[0]["name_first"] }} {{ players[0]["name_last"] }}!</h1>

		<label for="team-selector">Select a team:</label>
		<br>
		<select id="team-selector" ng-model="selectedTeam" ng-options="full for (full, abbrev) in teams" ng-change="ctrl.getPlayers()">
		</select>

		<br></br>

		<label for="player-selector">Select a player:</label>
		<br>
		<div id="player-selector">
			<div ng-repeat="player in players" class="radiobullet">
				<input type="radio" id="option-{{$index}}" name="playerGroup" ng-value="player.id" ng-model="selectedPlayer" ng-click="ctrl.setCurrPlayer(player)">
				<label for=option-{{$index}}">{{player.name_first}} {{player.name_last}}</label>
			</div>
		</div>

		<br>

		<label for="start-date-selector">Start date:</label>
		<input type="date" id="start-date-selector" name="start-date-input" ng-model="selectedStartDate" placeholder="YYYY-MM-DD" ng-change="ctrl.setStartDate(selectedStartDate)">
		<br>
		<label for="end-date-selector">End date:</label> <span style="display:inline-block; width: 0px;"></span> <!-- Align date selectors -->
		<input type="date" id="end-date-selector" name="end-date-input" ng-model="selectedEndDate" placeholder="YYYY-MM-DD" ng-change="ctrl.setEndDate(selectedEndDate)">	

	</div>
  </body>

</html>
