.logo {
	width: 60px;
	height: auto;
}

button {
	display: flex;
	background-color: #2F241D; /* Padres Brown */
	color: #FFC425; /* Padres Gold */
	font-weight: bold;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 50%;
	height: 40px;
	font-size: 20px;
	border-radius: 10px;
}

#header-container {
	display: grid;
	align-items: center;
	column-gap: 5px;
	grid-template-columns: min-content max-content;
	margin-left: 20px;
}

#app-container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

#main-container {
	display: flex;
	flex-grow: 1;
	width: 95%;
	padding-top: 10px;
	margin: 0 auto;
}

#sidebar {
	width: 20%;
	padding: 5px;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}

#player-selector {
	column-count: 2;
	min-height: 25%; /* less page shifting; could probably find a better number */
}

#graph-display {
	flex-grow: 1;
	padding: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 800px;
	max-height: 800px;
	width: 75%;
}

#graph {
  flex-grow: 1;
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #fff;
  text-align: center;
  font-family: "Lucida Console";
  font-size: 47px;
}


